:root {
    --min: 50%;
    --max: 10%;
  }
  
  .container > div {
    height: 10px;
  }
  
  .left {
    background-color: black;
  }
  
  .center-cold {
    background-color: green;
  }

  .center-warm {
    background-color: yellow;
  }

  .center-hot {
    background-color: red;
  }
  
  .right {
    background-color: black;
  }
